@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

body {
  font-family: "Lato", sans-serif;
  background-color: #eaeaea;
  margin: 0;
}

.App {
  height: 50vh;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 8% 30% 5% 30%;
  background-color: #fff;
  box-shadow: 0px 11px 9px -10px rgba(0, 0, 0, .5);
}

nav {
  height: 56px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}